*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.maskPath {
  fill: none;
  stroke: white;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#svg {
  outline: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 4098px;
  height: auto;
}

text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

path {
  stroke-miterlimit: 10;
}

mask path {
  fill: none;
  stroke: white;
}

#gatunki-owady > g,
#napisy-owady > text,
#gatunki-ludzie > g,
#napisy-ludzie > text,
#gatunki-rosliny-1 > g,
#napisy-rosliny-1 > text,
#gatunki-rosliny-2 > g,
#napisy-rosliny-2 > text,
#gatunki-vehicle-1 > g,
#napisy-vehicle-1 > text,
#gatunki-vehicle-2 > g,
#napisy-vehicle-2 > text,
#gatunki-ptaki > g,
#napisy-ptaki > text,
#gatunki-zwierzeta > g,
#napisy-zwierzeta > text {
  opacity: 0;
}
